extends layout 

block content
    main
        h2 Connectez-vous
        form(action="/" method="POST")
            label(for="email") Email:
            input(type="text" name="email" id="email" required)
            label(for="password") Password:
            input(type="text" name="password" id="password")
            button(type="submit") Se connecter