header 
    h1 Find the recipe tailored to your fridge 
    nav 
        ul 
            li: a(href="/") Recipes
            li: a(href="/") Add Recipe
            li: a(href="/") My Recipes
            li: a(href="/") My Favourites
            li: a(href="/logout") Déconnection